<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">

	<!--<context:property-placeholder location="classpath*:redis.properties,jdbc.properties,mis.properties" 
		ignore-unresolvable="true" /> -->
	<context:property-placeholder
		location="classpath*:mis.properties,classpath*:jdbc.properties,classpath*:redis.properties"
		local-override="true" ignore-unresolvable="true" />



	<!-- 扫描注解Bean -->
	<context:component-scan base-package="com.taisf">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
	
	<!-- 启用 aspectj 动态代理 proxy-target-class属性若此值为true强制使用CGLIB代理 expose-proxy属性若此值为true时，是为了目标对象内部的自我调用也可实施切面 -->
	<aop:aspectj-autoproxy proxy-target-class="true"
		expose-proxy="true" />



	<!-- 读取配置文件 -->
	 <bean id="propertyConfigurer" class="com.taisf.web.enterprise.common.util.PropertiesUtil">
		<property name="locations">
			<list>
				<value>classpath:mis.properties</value>
			</list>
		</property>
	</bean> 

	<!--<import resource="META-INF/spring/applicationContext-taisf.xml" />-->
	<import resource="META-INF/spring/applicationContext-ups.xml" />
	<import resource="spring-mvc.xml" />
	<!--<import resource="spring-task.xml" />-->



</beans>