<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<!--输出格式转换 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>




	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.taisf.web.oms.common.interceptor.InitGlobalParamsInterceptor">
				<property name="staticResourceUrl" value="${static.resource.url}" />
				<property name="staticIconUrl" value="${static.icon.url}" />
				<property name="jsVersion" value="${js.version}" />
			</bean>
		</mvc:interceptor>


		<mvc:interceptor>
			<mvc:mapping path="/**" />

			<mvc:exclude-mapping path="/" />
			<mvc:exclude-mapping path="/css/**" />
			<mvc:exclude-mapping path="/js/**" />
			<mvc:exclude-mapping path="/img/**" />
			<mvc:exclude-mapping path="/resources/**" />
			<mvc:exclude-mapping path="/error/**" />
			<mvc:exclude-mapping path="/login" />
			<mvc:exclude-mapping path="/script/**" />
			<mvc:exclude-mapping path="/style/**" />
			<mvc:exclude-mapping path="/front/**" />
			<mvc:exclude-mapping path="/fronts/**" />

			<mvc:exclude-mapping path="/dealLogin" />
			<mvc:exclude-mapping path="/logout" />
			<mvc:exclude-mapping path="/noAuthority/**" />


			<bean class="com.taisf.web.oms.common.interceptor.LogingInterceptot">
			</bean>
		</mvc:interceptor>


	</mvc:interceptors>


</beans>